<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title"> EDITAR PERFIL</h4>
                    </div>
                    <div class="card-body">
                        <form #editForm="ngForm" (ngSubmit)="actualizarPerfiles(editForm)">
                            <div class="row">
                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <label for="id_usuario">Cedula de Identidad:</label>
                                        <input type="number" class="form-control" id="id_usuario" name="id_usuario" [(ngModel)]="editandoperfil.id_usuario" required>
                                      </div>
                                </div>

                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <label for="anticipos">Correo Corporativo:</label>
                                        <input class="form-control" placeholder="Correo Corporativo" type="email"
                                        name="email" #email="ngModel" [(ngModel)]="editandoperfil.correo_corp" required>
                                    </div>
                                </div>
                                <div class="form-group col-md-4" id="form">
                                    <mat-form-field class="example-full-width">
                                        <input class="form-control" placeholder="Password" type="password"
                                             #password="ngModel" [(ngModel)]="editandoperfil.password">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">GUARDAR</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>