<!--antipo.html-->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">ANTICIPOS</h4>
                    </div>
                    <div class="card-body">
                        <form #anticipoForm="ngForm" (ngSubmit)="registrarNuevoAnticipo(anticipoForm.value)">
                            <div class="row">
                                <div class="form-group col-md-6 " id="form">
                                    <div class="example-full-width">
                                        <input class="form-control" placeholder="Identificacion(deshabilitado)"
                                            disabled>
                                    </div>
                                </div>
                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <input class="form-control" placeholder="ci" type="text" name="ci" ngModel>
                                    </div>
                                </div>

                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <input class="form-control" placeholder="Anticipo" type="text" name="anticipo"
                                            ngModel>
                                    </div>
                                </div>

                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                [disabled]="!anticipoForm.valid">REGISTRAR</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title "> REGISTRO ANTICIPOS</h4>

                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                                <tr>
                                                    <th>
                                                        ID DESCUENTO
                                                    </th>
                                                    <th>
                                                        CEDULA DE IDENTIDAD
                                                    </th>
                                                    <th>
                                                        ANTICIPO
                                                    </th>
                                                    <th>
                                                        ESTADO
                                                    </th>
                                                    <th>
                                                        FECHA CREACION
                                                    </th>
                                                    <th>
                                                        FECHA MODIFICACION
                                                    </th>
                                                    <th>
                                                        MODIFICAR
                                                    </th>
                                                    <th>
                                                        ELIMINAR
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let anticipos of anticipo">
                                                    <td>{{ anticipos.id_anticipo }}</td>
                                                    <td>{{ anticipos.anticipo }}</td>
                                                    <!-- <td>112315</td>
                                                    <td>hola</td>
                                                    <td>SDF</td>
                                                    <td>hola</td>
                                                    <td>SD</td>
                                                    <td>SD</td>-->
                                                    <td><button mat-raised-button type="submit"
                                                            class="btn btn-blue btn-round "
                                                            onclick="modificarRegistro(1)">Modificar</button></td>
                                                    <td><button mat-raised-button type="submit"
                                                            class="btn btn-white btn-round"
                                                            onclick="eliminarRegistro(1,'n')">Eliminar</button></td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>