<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">AREA</h4>
                    </div>
                    <div class="card-body">
                       
                        <form #areaForm="ngForm" (ngSubmit)="registrarNuevaArea(areaForm)">
                            <div class="row">
                                <div class="form-group col-md-12" id="form">
                                    <div class="example-full-width">

                                        <input class="form-control" placeholder="Area" type="text" name="area" ngModel
                                            [(ngModel)]="nuevaArea.tipo_area" pattern="[a-zA-Z]+">
                                    </div>
                                </div>


                            </div>

                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                [disabled]="!areaForm.form.valid">REGISTRAR</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title "> REGISTRO AREA</h4>
                                    
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                                <tr>
                                                    
                                                    <th>
                                                        TIPO AREA
                                                    </th>
                                                    <th>
                                                        ESTADO
                                                    </th>
                                                    <th>
                                                        FECHA CREACION
                                                    </th>
                                                    <th>
                                                        FECHA MODIFICACION
                                                    </th>
                                                    <th>
                                                        MODIFICAR
                                                    </th>
                                                    <th>
                                                        ELIMINAR
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let itemareas of info">
                                                    <td>{{ itemareas.tipo_area }}</td>
                                                    <td>{{ itemareas.estado }}</td>
                                                    <td>{{ itemareas.fecha_creacion }}</td>
                                                    <td>{{ itemareas.fecha_modificacion }}</td>
                                                    <td><button mat-raised-button type="submit"
                                                            class="btn btn-blue  btn-round"
                                                            (click)="editarArea(itemareas)">Modificar</button></td>
                                                    <td><button mat-raised-button type="submit"
                                                        class="btn btn-round"
                                                        [ngClass]="{'activo': itemareas.estado === 's', 'inactivo': itemareas.estado === 'n'}"
                                                        (click)="cambiarEstadoArea(1, estado === 's' ? 'n' : 's')">{{ itemareas.estado === 's' ? 'Activo' : 'Inactivo' }}</button></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
