<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">PERMISOS</h4>
                    </div>
                    <div class="card-body">
                        <form #permisoForm="ngForm" (ngSubmit)="registrarNuevoPermiso(permisoForm)">
                            <div class="row">
                                
                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <input class="form-control" placeholder="Cedula de Identidad" type="text"
                                            name="ci" #ci="ngModel" [(ngModel)]="nuevoPermiso.id_usuario"
                                            placeholder="Cedula de Identidad " maxlength="8" pattern="[0-9]+">
                                    </div>
                                </div>
                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <input class="form-control" placeholder="fecha" type="text" name="fecha"
                                            #fecha="ngModel" [(ngModel)]="nuevoPermiso.fecha" placeholder="fecha" pattern="[0-9/]+">
                                    </div>
                                </div>

                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <input class="form-control" placeholder="Permiso en Minutos " type="text"
                                            name="min_permiso" #min_permiso="ngModel"
                                            [(ngModel)]="nuevoPermiso.min_permiso" pattern="[0-9]+">
                                    </div>
                                </div>
                                <div class="form-group col-md-12" id="form">
                                    <div class="example-full-width">
                                        <input class="form-control" placeholder="Detalle " type="text" name="detalle"
                                            #detalle="ngModel" [(ngModel)]="nuevoPermiso.detalle" >
                                    </div>
                                </div>

                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                [disabled]="!permisoForm.form.valid">REGISTRAR PERMISOS</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title "> REGISTRO PERMISO</h4>
                                <form class="col-md-5">
                                    <p class="card-category">Busque el registro de permiso</p>
                                    <div class="input-group no-border">
                                        <div class="col-md-10">
                                            <input type="text" [(ngModel)]="ciBusqueda" class="form-control"
                                                placeholder="Buscar por cedula de identidad...">
                                            <div class="ripple-container"></div>
                                        </div>
                                    </div>
                                    <button mat-raised-button type="button" class="btn btn-white btn-round "
                                        (click)="buscarAnticipoPorCi(ciBusqueda)">Buscar</button>
                                </form>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>
                                                    CEDULA DE IDENTIDAD
                                                </th>
                                                <th>
                                                    FECHA
                                                </th>
                                                <th>
                                                    MIN. PERMISO
                                                </th>
                                                <th>
                                                    DETALLE
                                                </th>
                                                <th>
                                                    ESTADO
                                                </th>
                                                <th>
                                                    FECHA CREACION
                                                </th>
                                                <th>
                                                    FECHA MODIFICACION
                                                </th>
                                                <th>
                                                    MODIFICAR
                                                </th>
                                                <th>
                                                    ELIMINAR
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let per of permisos">
                                                <td>{{ per.id_usuario }}</td>
                                                <td>{{ per.fecha}}</td>
                                                <td>{{ per.min_permiso}}</td>
                                                <td>{{ per.detalle}}</td>
                                                <td>{{ per.estado }}</td>
                                                <td>{{ per.fecha_creacion}}</td>
                                                <td>{{ per.fecha_modificacion}}</td>
                                                <td><button mat-raised-button type="submit"
                                                        class="btn btn-blue btn-round "
                                                        (click)="editarPermiso(per)">Modificar</button></td>
                                                <td><button mat-raised-button type="submit"
                                                    class="btn btn-round"
                                                    [ngClass]="{'activo': per.estado === 's', 'inactivo': per.estado === 'n'}"
                                                    (click)="cambiarEstadoPermiso(1, estado === 's' ? 'n' : 's')">{{ per.estado === 's' ? 'Activo' : 'Inactivo' }}</button></td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>