<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Registro</h4>
                    </div>
                    <div class="card-body">
                         <form [formGroup]="usuarioForm" (ngSubmit)="insertarUsuario()">
                        <!--<form>-->
                            <div class="row">
                                <div class="form-group col-md-3 " id="form">
                                    <mat-form-field class="example-full-width">
                                        <input class="form-control" placeholder="Identificacion(deshabilitado)"
                                            disabled>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-4" id="form">
                                    <mat-form-field class="example-full-width">

                                        <input class="form-control" placeholder="Cedula de Identidad" type="text"
                                            name="ci"  formControlName="ci">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-5" id="form">
                                    <mat-form-field class="example-full-width">

                                        <input class="form-control" placeholder="Email address" type="email"
                                            name="email"  > 
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4" id="form">
                                    <mat-form-field class="example-full-width">

                                        <input class="form-control" placeholder="Nombre" type="text" name="nombre"  formControlName="nombre">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-4" id="form">
                                    <mat-form-field class="example-full-width">

                                        <input class="form-control" placeholder="Apellido Pateno" type="text"
                                            name="apellido_paterno"  formControlName="apellido_paterno">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-4" id="form">
                                    <mat-form-field class="example-full-width">
                                        <input class="form-control" placeholder="Apellido Materno" type="text"
                                            name="apellido_materno"  formControlName="apellido_materno">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4 " id="form">
                                    <mat-form-field class="example-full-width">
                                        <select name="idArea"  formControlName="idArea">
                                            <option value="">SELECCIONE AREA</option>
                                            <ng-container>
                                                <option *ngFor="let area of areas" [value]="area.id_area">{{ area.tipo_area }}</option>
                                            </ng-container>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-4" id="form">
                                    <mat-form-field class="example-full-width">
                                        <select name="idRol"  formControlName="idRol">
                                            <option value="">SELECCIONE ROL</option>
                                            <ng-container>
                                                <option *ngFor="let rol of roles" [value]="rol.id_rol">{{ rol.tipo }}</option>
                                            </ng-container>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-4" id="form">
                                    <mat-form-field class="example-full-width">
                                        <input class="form-control" placeholder="Estado" type="text"
                                            name="estado">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">REGISTRAR</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <label>AUTENTIFICACION</label>
                            <img class="img" src="./assets/img/faces/LOGO.jpg" />
                        </a>
                    </div>
                    <form>
                        <div class="card-body">
                            <div class="form-group col-md-12" id="form">
                                <mat-form-field class="example-full-width">

                                    <input class="form-control" placeholder="Correo Corporativo" type="text"
                                        name="email">
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-12" id="form">
                                <mat-form-field class="example-full-width">
                                    <input class="form-control" placeholder="Password" type="text" name="password">
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">REGISTRAR</button>
                            <div class="clearfix"></div>
                    </form>

                </div>


            </div>
        </div>
    </div>