<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <label>AUTENTIFICACION</label>
                        <img class="img" src="./assets/img/faces/LOGO.jpg" />
                        </a>
                    </div>
                    <form>
                        <div class="card-body">
                            <div class="form-group col-md-12" id="form">
                                <mat-form-field class="example-full-width">

                                    <input class="form-control" placeholder="Correo Corporativo" type="text"
                                        name="email">
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-12" id="form">
                                <mat-form-field class="example-full-width">
                                    <input class="form-control" placeholder="Password" type="text" name="password">
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">REGISTRAR</button>
                        <div class="clearfix"></div>
                    </form>

                </div>
            </div>
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title "> REGISTRO AUTENTIFICACION</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                                <tr>
                                                    <th>
                                                        ID AREA
                                                    </th>
                                                    <th>
                                                        TIPO AREA
                                                    </th>
                                                    <th>
                                                        ESTADO
                                                    </th>
                                                    <th>
                                                        FECHA CREACION
                                                    </th>
                                                    <th>
                                                        FECHA MODIFICACION
                                                    </th>
                                                    <th>
                                                        MODIFICAR
                                                    </th>
                                                    <th>
                                                        ELIMINAR
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                <tr *ngFor="let dato of datos">
                                                    <td>{{ dato.columna1 }}</td>
                                                    <td>{{ dato.columna2 }}</td>
                                                    <td>112315</td>
                                                    <td>hola</td>
                                                    <td>SDF</td>
                                                    <td>hola</td>
                                                    <td>SD</td>
                                                    <td><button mat-raised-button type="submit"
                                                            class="btn btn-blue  btn-round"
                                                            onclick="modificarRegistro(1)">Modificar</button></td>
                                                    <td><button mat-raised-button type="submit"
                                                            class="btn btn-white btn-round"
                                                            onclick="eliminarRegistro(1)">Eliminar</button></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>