.card-body {
    margin-top: -5%;
  }
  .btn.btn-blue.btn-round.bacun1 {
    width: 20%;
    margin-top: 2%;
    margin-left: 55%;
    margin-right: 10%;
    background-color: #1f399a;
  }
  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #1f399a;
  }
  
  .empre {
    text-align: left;
    margin-left: 5.5%;
    font-size: 8px;
  }
  
  .nro {
    text-align: center;
    margin-left: 4%;
    font-size: 10px;
    margin-top: -1%;
    margin-right: 84%;
    border: 1px solid #1f399a;
  }
  
  .btn.btn-blue.btn-round {
    margin-top: 2%;
    margin-left: 66%;
    background-color: #E67E22;
  }
  
  .contener {
    margin-top: 5%;
  }
  
  .btn.btn-white.btn-round {
    margin-top: 2%;
    margin-left: 64%;
    left: -63%;
    margin-bottom: 7.2%;
  }
  .btn.btn-blue.btn-round.bacun{
    background-color: #1f399a;
  }
  .col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    position: relative;
    width: 100%;
    /* padding-right: 15px; */
    padding-left: 5px;
    padding-right: 0px;
  }
  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 200%;
  }
  
  .receipt-container {
    position: relative;
    padding: 2.5%;
    border: 1px solid #ccc;
    margin-bottom: 10%;
    margin-top: 1%;
    margin: -2% 0 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('../../../assets/img/bispace.PNG');
    background-repeat: no-repeat;
    background-position-y: -25px;
    background-size: 100%;
    filter: opacity(80%);
    font-family: Arial, sans-serif;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  a{
    color: white;
  }
  .title {
    align-items: center;
    align-content: center;
    text-align: center;
  }
  
  .row {
    justify-content: center;
  }
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  table {
    display: table;
    align-items: center;
    border-collapse: collapse;
    margin-bottom: 20px;
  
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 2%;
  }
  
  .company-info {
    margin-top: 10px;
    margin-left: 23px;
    width: 100%;
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #1f399a;
  }
  
  .label {
    font-size: 12px;
    color: black;
    margin-left: 10px;
  }
  
  .labell {
    font-size: 12px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
  }
  
  .receipt-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    width: 100%;
  }
  
  .left-column,
  .right-column {
    flex-basis: 45%;
  }
  
  th,
  td {
    padding: 5px;
    text-align: center;
    font-size: 11px;
    border: 1px solid #ffffff;
  }
  
  th {
    background-color: #0d2169;
    border: 1px solid #8e9dd4;
    font-size: 1px;
    text-align: center;
    color: #ffffff;
  }
  
  .table thead tr th {
    font-size: 12px;
    border: 1px solid #8e9dd4;
  }
  
  .total {
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-top: -3%;
    width: 100%;
    font-size: 13px;
  }
  
  .signaturea {
    text-align: left;
    width: 30%;
    margin-top: 40px;
    margin-left: 35%;
    font-size: 10px;
  }
  .signatureb {
    text-align:right;
    width: 30%;
    margin-top: 40px;
    margin-left: 35%;
    font-size: 10px;
  }
  
  .signature-line{
    border-bottom: 1px solid #000;
    margin-top: 5px;
    margin-left: -64%;
  }
  .signature-lineb {
    border-bottom: 1px solid #000;
    margin-top: -32.5%;
    margin-bottom: -14%;
    margin-left: 89%;
    width: 90%;
  }
  .main-content {
    display: flex;
    left: 10%;
    background-color: rgb(225, 229, 249);
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .card-header1 {
    width: 50%;
    margin-bottom: 5.4%;
    background-color: #fff;
    background-color: rgb(225, 229, 249);
  }
  
  table tr:first-child {
    background-color: #000000; 
    color: white; 
  }
  
  /* Estilo para las filas impares */
  table tr:nth-child(odd) {
    background-color: #0A2779; 
    color: #ffff;
    border: 1px solid #fff ;
  }
  
  /* Estilo para las filas pares */
  table tr:nth-child(even) {
    background-color: #7A9AE3; 
    color: black;
    border: 1px solid #fff ;
  }
  td{
    background-color: #7A9AE3; 
    color: black;
    border: 1px solid #fff ;
  }
  .p1{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: -50%;
  }
  .p2{
    margin-top: 30px;
    margin-bottom: 1rem;
    margin-left: 45%;
    margin-right: -55%;
  }
  .bis{
    color: #2e4ba8
  }
  @media print {
    .contener {
      width: 100%; 
      margin: 0 auto; 
      margin-top: 30%;
      margin-left: 20%;
      
  
    }
  
    .receipt-container {
      width: 100%; 
      margin-top: 30%;
      margin-left: 20%;
    }
  
    /* Ajusta otros estilos según sea necesario para la impresión */
  }