<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card" *ngIf=" editandoUsuario  && roles && roles.length > 0 && areas && areas.length " >
                    <div class="card-header card-header-danger">
                        <h4 class="card-title"> EDITAR USUARIO</h4>
                    </div>
                    <div class="card-body">
                        <form #editForm="ngForm" (ngSubmit)="actualizarUsuario(editForm)">
                            <div class="row">
                                <div class="form-group col-md-4" id="form">
                                    <div class="example-full-width">
                                        
                                        <label for="ci">Cedula de Identidad:</label>
                                        <input type="text" class="form-control" id="ci" value=`${editandoUsuario.ci}` name="ci" [(ngModel)]="editandoUsuario.ci" pattern="[0-9]+" required>
                                      </div>
                                </div>

                                <div class="form-group col-md-8" id="form">
                                    <div class="example-full-width">
                                        <label for="nombre">Nombre:</label>
                                        <input class="form-control"  type="text" name="nombre" 
                                        #nombre="ngModel" [(ngModel)]="editandoUsuario.nombre" pattern="[a-zA-Z]+" required>
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <label for="id_usuario">Apellido Paterno:</label>
                                        <input class="form-control"  type="text"
                                        name="apellido_paterno" #apellido_paterno="ngModel" [(ngModel)]="editandoUsuario.apellido_paterno" pattern="[a-zA-Z]+" required>
                                </div>
                                </div>

                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <label for="nombre">Apellido Materno:</label>
                                        <input class="form-control"  type="text"
                                            name="apellido_materno" #apellido_materno="ngModel" [(ngModel)]="editandoUsuario.apellido_materno" pattern="[a-zA-Z]+" required >
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 " id="form">
                                        <select class="custom-select" name="idArea" #id_area="ngModel" [(ngModel)]="editandoUsuario.id_area" >
                                            <option value="">SELECCIONE AREA</option>
                                            <ng-container *ngFor="let area of areas">
                                                <option value="{{area.id_area}}">{{area.tipo_area}}</option>
                                            </ng-container>
                                        </select>
                                </div>
                                <div class="form-group col-md-6" id="form">
                                        <select  class="custom-select" name="idRol" #id_rol="ngModel" [(ngModel)]="editandoUsuario.id_rol" >
                                            <ng-container *ngFor="let rol of roles">
                                            <option value="">SELECCIONE ROL</option>
                                            
                                                <option value="{{rol.id_rol}}">{{rol.tipo}}</option>
                                            </ng-container>
                                        </select>
                                </div>
                                
                            </div>
                            <button type="submit" class="btn btn-danger pull-right">GUARDAR</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
