<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title"> EDITAR PAGO</h4>
                    </div>
                    <div class="card-body">
                        <form #editForm="ngForm" (ngSubmit)="actualizarPago(editForm)">
                            <div class="row">
                                
                                <div class="form-group col-md-4" id="form">
                                    <div class="example-full-width">
                                        <label for="sueldos">Sueldo:</label>
                                        <input type="text" class="form-control" id="sueldo" name="sueldo"
                                            [(ngModel)]="editandoPago.sueldo"  pattern="[0-9]+" required>
                                    </div>
                                </div>
                                <div class="form-group col-md-4" id="form">
                                    <div class="example-full-width">
                                        <label for="dias_trabajo">Dias Trabajados:</label>
                                        <input type="number" class="form-control" id="dias_trabajo" name="dias_trabajo" [(ngModel)]="editandoPago.dias_trabajado" pattern="[0-9]+"required>
                                      </div>
                                </div>
                                <div class="form-group col-md-4" id="form">
                                    <div class="example-full-width">
                                        <label for="retencion">Retencion/AFPS:</label>
                                        <input type="number" class="form-control" id="retencion" name="retencion" [(ngModel)]="editandoPago.retencion" pattern="[0-9]+"required>
                                      </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn btn-danger pull-right">GUARDAR</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>