<div class="main-content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-12">
                
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">ASISTENCIA</h4>
                        <form class="col-md-5">
                            <p class="card-category"> Busque  el registro de asistencia</p>
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Buscar...">
                                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                    <th></th>
                                    <!-- <th *ngFor="let columna of columnas">{{ columna }}</th>-->
                                      </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            ID ASISTENCIA
                                        </td>
                                        <td>
                                            DEPARTAMENTO
                                        </td>
                                        <td>
                                            NOMBRE
                                        </td>
                                        <td>
                                            APELLIDO
                                        </td>
                                        <td>
                                            FECHA
                                        </td>
                                        <td>
                                            PRIMER INGRESO
                                        </td>
                                        <td>
                                            PRIMERA SALIDA
                                        </td>
                                        <td>
                                            SEGUNDA ENTRADA
                                        </td>
                                        <td>
                                            SEGUNDA SALIDA
                                        </td>
                                        <td>
                                            ATRASOS(MIN)
                                        </td>
                                        <td>
                                            EXTRAS(MIN)
                                        </td>
                                        <td>
                                            FALTAS
                                        </td>
                                        <td>
                                            TOTAL(MIN)
                                        </td>
                                        <td>
                                            PAGO(MIN)
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                            
                                        </td>

                                    </tr>
                                    <tr>
                                        <!--<tr *ngFor="let dato of datos">
                                        <td>{{ dato.columna1 }}</td>
                                        <td>{{ dato.columna2 }}</td>-->
                                        <td>...</td>
                                        <td>hola</td>
                                      </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  
