.logo a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.label {
  font-size: 12px;
  color: black;
  margin-left: 10px;
  font-weight: normal;
}

.nav-links li a:hover {
  color: #e67e22;
}

/* Estilos de la sección de asistencia */
.assistance-section {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.search-btn,
.print-btn {
  background-color: #2c3e50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.search-btn:hover,
.print-btn:hover {
  background-color: #e67e22;
}

.search-btn i,
.print-btn i {
  margin-right: 5px;
}

.data-table {
  overflow-x: auto;
}

.card1 {

  .card .card-header-danger .card-icon,
  .card .card-header-danger .card-text,
  .card .card-header-danger:not(.card-header-icon):not(.card-header-text),
  .card.bg-danger,
  .card.card-rotate.bg-danger .front,
  .card.card-rotate.bg-danger .back {
    background: linear-gradient(60deg, #173b9f, #357ee5);
  }
}


table tr:first-child {
  background-color: #000000;
  color: white;
}

/* Estilo para las filas impares */
table tr:nth-child(odd) {
  background-color: #0A2779;
  /* Gris claro */
  color: #ffff;
  border: 1px solid #fff;
}

/* Estilo para las filas pares */
table tr:nth-child(even) {
  background-color: #7A9AE3;
  /* Blanco */
  color: black;
  border: 1px solid #fff;
}


.card .card-header-danger .card-icon,
.card .card-header-danger .card-text,
.card .card-header-danger:not(.card-header-icon):not(.card-header-text),
.card.bg-danger,
.card.card-rotate.bg-danger .front,
.card.card-rotate.bg-danger .back {
  background: linear-gradient(60deg, #072578, #4b568e);
}

.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  left: 10%;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  justify-content: center;
  top: -10px;
  border: 1px solid white;

}

.btn.btn-success.btn-round {
  background-color: #e67e22;
}

.btn.btn-success.btn-round.l {
  background-color: #2263e6;
  left: 30px;
}

.table-header {
  justify-content: center;
  text-align: center;
  font-size: 10px;
  border: 0.2px solid rgb(255, 255, 255);

}

.table thead tr th {
  font-size: 10px;

}

td {
  border: 1px solid white;
}
.bis{
  align-items: center;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}
h1{
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: bold;
}
.tabla{
  border: 1px solid rgb(12, 12, 12);
  text-align: center;
}
a{
  color: white;
}
/* Estilos responsivos para la impresión */
@media print {
  /* Estilos para la tabla */
  .tabla {
    margin-top: 20px !important;
    width: 100% !important;
    border-collapse: collapse !important;
    justify-content: center !important;
    top: -10px !important;
    border: 1px solid white !important;
  }

  /* Estilos para los elementos específicos */
  h3 {
    text-align: center !important;
    background-color: #000000 !important;
  }

  .btn.btn-success.btn-round {
    background-color: #e67e22 !important;
  }
  
  .btn.btn-success.btn-round.l {
    background-color: #2263e6 !important;
    left: 30px !important;
  }
  
  .table-header {
    justify-content: center !important;
    text-align: center !important;
    font-size: 10px !important;
    border: 0.2px solid rgb(255, 255, 255) !important;
  }
  
  .table thead tr th {
    font-size: 12px !important;
  }
  
  td {
    border: 1px solid white !important;
    
  }
}



.sidebar {
  width: 250px; 
  transition: transform 0.3s ease; 
}



.sidebar.active {
  transform: translateX(0); }


  .sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 30%;
    background-color: #ffffff;
    box-shadow: 4px 0 5px rgba(81, 119, 215, 0.729);
    transition: transform 0.3s ease;
  }
  
  .sidebar.active {
    transform: translateX(-250px);
    color: white;
  }
  
  @media (max-width: 991px) {
    
    .sidebar {
      transform: translateX(-250px);
      width: 250px;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      box-shadow: 4px 0 5px rgba(81, 119, 215, 0.729);
      transition: transform 0.3s ease;
    }
    .sidebar.active {
      transform: translateX(0);
    }
  }
  
  .sidebar-items {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-items li {
    padding: 10px 15px;
  }
  
  .sidebar-items li.active,
  .sidebar-items li:hover {
    background-color: #e0e0e0;
  }
  
  .sidebar-items li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E67E22;
  }
  
  .sidebar-items li a i.material-icons {
    margin-right: 10px;
  }
  
  .sidebar-items li a span {
    font-weight: 500;
  }