<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <button mat-raised-button type="submit" class="btn btn-blue btn-round bacun"
         ><a href="/asistencia">VOLVER</a></button>
      <div class="card-header1 card-header-danger">
        <div class="contener" id="capturar">
          <div class="receipt-container">
            <div class="header">
              <div class="empre">Bispace SRL</div>
              <h1>BOLETA DE PAGO</h1>

              <div class="company-info" *ngFor="let persona of boletaUser">
                <div class="bis">NOMBRE: <span class="label">{{persona.id_usuario.nombre}}</span></div>
                <div class="bis">OCUPACION: <span class="label">{{persona.ocupacion}}</span></div>
                <div class="bis">DIAS LABORALES: <span class="label">{{persona.dias_laborales}}</span></div>
                <div class="bis">MES DE PAGO: <span class="label">{{persona.mes}}</span></div>
                <div class="bis">FECHA DE PAGO: <span class="label">{{persona.fecha}}</span></div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">

                    <tr>
                      <th rowspan="2">PAGO</th>
                      <th colspan="5">DESCUENTO</th>
                    </tr>
                    <tr>
                      <th>AFP'S</th>
                      <th>ATRASOS</th>
                      <th>FALTAS</th>
                      <th>MIN. NO TRABAJADOS</th>
                      <th>DESCUENTO </th>
                    </tr>

                  </thead>
                  <tbody>
                    <tr *ngFor="let item of boletaUser">
                      <td>{{ item.pago }}</td>
                      <td>{{ item.afps }}</td>
                      <td>{{ item.atrasos }}</td>
                      <td>{{ item.faltas }}</td>
                      <td>{{ item.mnr }}</td>
                      <td>{{ item.descuentos }}</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>

            <div class="total" *ngFor="let persona of boletas">
              <p>LIQUIDO PAGABLE Bs.-  <span class="label1">{{persona.pagos}}</span></p>
              </div>
            <div class="signature">
              <div class="signature-line row col-md-9"></div>
              <p>Firma de Conformidad:</p>


            </div>

          </div>

        </div>
        <button mat-raised-button type="submit" class="btn btn-white btn-round  " (click)="imprimirPantalla()">Imprimir</button>
      </div>

    </div>

  </div>
</div>