<div class="sidebar" [ngClass]="{ 'active': sidebarOpen}">
    <div class="toggle-sidebar-btn" (click)="toggleSidebar()">
       
        <i class="material-icons">menu</i>
        </div>
    <br>
    <br>
    
    <div class="card-avatar">
        <button class="btn btn-danger pull-right" (click)="logout()">Salir</button>
        <img class="img" src="./assets/img/user.jpeg" />

    </div>
    <br>

    <ul class="sidebar-items">
        <li class="nav-item" *ngFor="let menuItem of menuItems" routerLinkActive="active" [routerLink]="menuItem.path" class="{{menuItem.class}}">
            <a >
                <i class="material-icons">{{menuItem.icon}}</i>
                <span class="nav-link-text">{{menuItem.title}}</span>
            </a>
        </li>
    </ul>

    
</div>