<div class="sidebar" [ngClass]="{'active': isMobileMenu()}">
    <br>
    <br>
    <br>
    
    <div class="card-avatar">
        <img class="img" src="./assets/img/user.jpeg" />

    </div>
    <br>

    <ul class="sidebar-items">
        <li *ngFor="let menuItem of menuItems" [routerLinkActive]="['active']" class="{{menuItem.class}}">
            <a [routerLink]="menuItem.path">
                <i class="material-icons">{{menuItem.icon}}</i>
                <span>{{menuItem.title}}</span>
            </a>
        </li>
    </ul>


</div>