<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Registro Descuento</h4>
                    </div>
                    <div class="card-body">
                        <!-- <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">-->
                        <form >
                            <div class="row">
                                <div class="form-group col-md-6 " id="form">
                                    <div class="example-full-width">
                                        <input class="form-control" placeholder="Identificacion(deshabilitado)"
                                            disabled>
                                    </div>
                                </div>
                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <input class="form-control" placeholder="Sueldo" type="text" name="sueldo">
                                    </div>
                                </div>
                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <input class="form-control" placeholder="DiasTrabajo" type="text" name="trabajo" >
                                    </div>
                                </div>
                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <input class="form-control" placeholder="retencion" type="text" name="retencion" >
                                    </div>
                                </div>
                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <input class="form-control" placeholder="SueldoBruto" type="text" name="sueldobruto" >
                                    </div>
                                </div>-->
                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <input class="form-control" placeholder="ci" type="text" name="ci"  >
                                    </div>
                                </div>
                              
                            </div>
                            
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">REGISTRAR</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="main-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">

                                <div class="card">
                                    <div class="card-header card-header-danger">
                                        <h4 class="card-title "> LISTADO AREA</h4>
                                        <form class="col-md-5" >
                                            <p class="card-category"> Busque el registro de area</p>
                                            <div class="input-group no-border">
                                                  <input type="text" value="" class="form-control"
                                                    placeholder="Buscar...">
                                                <button mat-raised-button type="submit"
                                                    class="btn btn-white btn-round btn-just-icon">
                                                    <i class="material-icons">search</i>
                                                    <div class="ripple-container"></div>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class=" text-primary">
                                                    <tr>
                                                        <th></th>
                                                        <!-- <th *ngFor="let columna of columnas">{{ columna }}</th>-->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            ID SUELDO
                                                        </td>
                                                        <td>
                                                            CI
                                                        </td>
                                                        <td>
                                                            DIAS TRABAJADOS
                                                        </td>
                                                        <td>
                                                            RETENCION
                                                        </td>
                                                        <td>
                                                            SUELDO BRUTO
                                                        </td>
                                                        <td>
                                                            FECHA CREACION
                                                        </td>
                                                        <td>
                                                            FECHA MODIFICACION
                                                        </td>
                                                        <td>
                                                            ESTADO
                                                        </td>
                                                        <td>
                                                            MODIFICAR
                                                        </td>
                                                        <td>
                                                            ELIMINAR
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <!--<tr *ngFor="let dato of datos">
                                                        <td>{{ dato.columna1 }}</td>
                                                        <td>{{ dato.columna2 }}</td>-->
                                                        <td>112315</td>
                                                        <td>hola</td>
                                                        <td>SDF</td>
                                                        <td>hola</td>
                                                        <td>SD</td>
                                                        <td>SDF</td>
                                                        <td>hola</td>
                                                        <td>SD</td>
                                                        <td><button mat-raised-button type="submit"
                                                                class="btn btn-blue  "
                                                                >Modificar</button></td>
                                                        <td><button mat-raised-button type="submit"
                                                                class="btn btn-white "
                                                                >Eliminar</button></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            