<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card" >
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Registro Rol</h4>
                    </div>
                    <div class="card-body">
                        <form #rolForm="ngForm" (ngSubmit)="registrarNuevoRol(rolForm)">
                            
                            <div class="row">

                                <div class="form-group col-md-12" id="form">
                                    <div class="example-full-width">

                                        <input class="form-control" placeholder="Rol" type="text" name="rol" ngModel pattern="[a-zA-Z+">
                                    </div>
                                </div>

                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                [disabled]="!rolForm.valid">REGISTRAR</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title ">ROL</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <tr>
                                                
                                                <th>
                                                    TIPO ROL
                                                </th>
                                            
                                                <th>
                                                    MODIFICAR
                                                </th>
                                                <th>
                                                    ELIMINAR
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                            <tr *ngFor="let roles of rolUser">
                                                <td>{{ roles.tipo}}</td>
                                                <td><button mat-raised-button type="submit"
                                                        class="btn btn-blue btn-round "
                                                        (click)="editarRol(roles)">Modificar</button></td>
                                                <td><button mat-raised-button type="submit"
                                                    class="btn btn-round"
                                                    [ngClass]="{'activo': roles.estado === 's', 'inactivo': roles.estado === 'n'}"
                                                    (click)="cambiarEstadoRol(roles.id_rol, roles.estado === 's' ? 'n' : 's')">{{ roles.estado === 's' ? 'Activo' : 'Inactivo' }}</button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>