<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">SUBIR EXCEL</h4>
                    </div>
                    <div class="card-body">
                        <!-- <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">-->
                        <form>
                            <div class="row">
                                <div class="form-group col-md-6 " id="form">
                                    <div class=" excel example-full-width">
                                        <input class="form-control" placeholder="Identificacion(deshabilitado)"
                                            disabled>
                                    </div>
                                </div>
                                <div class="form-group col-md-6" id="form" >
                                    <div class="example-full-width-input">
                                        <input class="idexcel" placeholder="Suba Aqui" type="file" name="excel"
                                            accept=".xls,.xlsx" multiple (change)="cargarExcel($event)">
                                    </div>
                                </div>
                            </div>
                            
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right btn-round">REGISTRAR</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>