.card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .front, .card.card-rotate.bg-danger .back {
  background: linear-gradient(60deg, #072578, #4b568e);
  padding-bottom:30px ;
  padding-top:20px ;
}
.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.row{
  justify-content: center;
}
/* Estilo general del contenedor del formulario */
.main-content .container-fluid {
  padding: 20px;
}

/* Estilo para la zona de carga de archivos */
.example-full-width-input .drop-zone {
  border: 2px dashed #2d4be1; /* Color que combina con el botón 'REGISTRAR' */
  border-radius: 10px;
  padding: 20px;
  text-align: center; /* Centra el texto horizontalmente */
  cursor: pointer;
  transition: border 0.3s ease;
}

.example-full-width-input .drop-zone:hover {
  border: 2px solid #2d45e1; /* Cambia a un borde sólido al pasar el mouse */
}

/* Estilo para el texto dentro de la zona de carga */
.example-full-width-input .drop-zone .subir {
  display: inline-block;
  width: 100%; /* Ocupa todo el ancho para centrarse correctamente */
  padding: 10px 0;
  font-size: 16px;
  color: #555;
  transition: color 0.3s;
}

/* Cambia el color del texto al pasar el mouse */
.example-full-width-input .drop-zone:hover .subir {
  color: #2d48e1;
}

/* Estilos para el botón de 'REGISTRAR' */
.btn-danger.pull-right.btn-round {
  background-color: #2d45e1; /* Asegura el color correcto para el botón */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px; /* Hace que los bordes sean más redondos */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-danger.pull-right.btn-round:hover {
  background-color: #1c35c1; /* Oscurece el botón al pasar el mouse */
}
.main-content{
  display: flex;
  background-color: rgb(225, 229, 249);
  
  padding: 5%;
  align-content: center;
  
  padding-top: 10%;
    padding-bottom: 20%;
}