.logo a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.label {
  font-size: 12px;
  color: black;
  margin-left: 10px;
  font-weight: normal;
}

.nav-links li a:hover {
  color: #e67e22;
}

/* Estilos de la sección de asistencia */
.assistance-section {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.search-btn,
.print-btn {
  background-color: #2c3e50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.search-btn:hover,
.print-btn:hover {
  background-color: #e67e22;
}

.search-btn i,
.print-btn i {
  margin-right: 5px;
}

.data-table {
  overflow-x: auto;
}




table tr:first-child {
  background-color: #000000;
  color: white;
}

/* Estilo para las filas impares */
table tr:nth-child(odd) {
  background-color: #0A2779;
  /* Gris claro */
  color: #ffff;
  border: 1px solid #fff;
}

/* Estilo para las filas pares */
table tr:nth-child(even) {
  background-color: #7A9AE3;
  /* Blanco */
  color: black;
  border: 1px solid #fff;
}


.card .card-header-danger .card-icon,
.card .card-header-danger .card-text,
.card .card-header-danger:not(.card-header-icon):not(.card-header-text),
.card.bg-danger,
.card.card-rotate.bg-danger .front,
.card.card-rotate.bg-danger .back {
  background: linear-gradient(60deg, #072578, #4b568e);
}

.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  left: 10%;
}

table {
  margin-top: 20px;
  width: 220%;
  border-collapse: collapse;
  justify-content: center;
  top: -10px;
  border: 1px solid white;
  text-align: center;

}

.btn.btn-success.btn-round {
  background-color: #e67e22;
}

.btn.btn-success.btn-round.l {
  background-color: #2263e6;
  left: 30px;
}

.table-header {
  justify-content: center;
  text-align: center;
  font-size: 10px;
  border: 0.2px solid rgb(255, 255, 255);

}

.table thead tr th {
  font-size: 10px;

}

td {
  border: 1px solid white;
  font-size: 10px;
}
.bis{
  align-items: center;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}
h1{
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: bold;
}
.tabla{
  border: 1px solid rgb(12, 12, 12);
  text-align: center;
  margin-top: 20px;
  width: 230%;
  border-collapse: collapse;
  justify-content: center;
  top: -10px;
  border: 1px solid white;
}
a{
  color: white;
}
.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 0px;
}

/* Estilos responsivos para la impresión */
@media print {
  /* Estilos para la tabla */
  .table {
    margin-top: 20px;
    width: 230%;
    border-collapse: collapse;
    justify-content: center;
    top: -10px;
    border: 1px solid white;
  }
  
  /* Estilos para la impresión */
  @media print {
    /* Estilos para la tabla en la impresión */
    .tabla {
      margin-top: 20px;
      width: 230%;
      border-collapse: collapse;
      justify-content: center;
      top: -10px;
      border: 1px solid white;
      font-size: 7px;
      text-align: center;
    }
  
    /* Otros estilos específicos para la impresión */
    h3 {
      text-align: center;
      background-color: #000000;
    }
  
    .btn.btn-success.btn-round {
      background-color: #e67e22;
    }
    
    .btn.btn-success.btn-round.l {
      background-color: #2263e6;
      left: 30px;
    }
    
    .table-header {
      justify-content: center;
      text-align: center;
      font-size: 7px;
      border: 0.2px solid rgb(255, 255, 255);
    }
    
    .table thead tr th {
      font-size: 12px ;
    }
    
    td {
      border: 1px solid white;
      font-size: 7px;
      text-align: center;
      width: 10%;
    }
  }
}

.main-content{
  padding: 5%;
  display: flex;
  background-color: rgb(225, 229, 249);
  margin-right: 15%;
}