<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">ASISTENCIA</h4>
            <form class="col-md-5">
              <p class="card-category">Busque el registro de asistencia</p>
              <div class="input-group no-border">
                <div class="col-md-10">
                  <input type="text" [(ngModel)]="ciBusqueda"  (input)="onInputChange()" class="form-control"
                    placeholder="Buscar por cedula de identidad..." *ngIf="rutaRol === 'admin'">
                  <input type="text" [(ngModel)]="fechaBusqueda" (input)="onInputChange()" class="form-control"placeholder="Buscar por fecha... ej. 04-24">
                  <div class="ripple-container"></div>
                </div>
              </div>
              <button mat-raised-button type="button" class="btn btn-white btn-round "
                (click)="buscarAsistencia()"  >Buscar</button>
            </form>

          </div>
          <div class="card-body">
            <div class="table-responsive">
              <button mat-raised-button class="btn btn-success btn-round"  [disabled]="!imprimirHabilitado" (click)="imprimirAsistencia()">Imprimir
                Asistencia</button>
              <button mat-raised-button class="btn btn-success btn-round l" (click)="verBoleta() " *ngIf="rutaRol === 'admin'">Generar
                Boleta</button>
              <div class="div-table">
                <table class="table" id="tabla" *ngIf="asistenciasUser ||asistenciasUser.length >0 ">
                  <thead class="text-primary">
                    <tr class="table-row">
                      <th class="table-header">FECHA</th>
                      <th class="table-header">CEDULA DE IDENTIDAD</th>
                      <th class="table-header">NOMBRE</th>
                      <th class="table-header">APELLIDO</th>
                      <th class="table-header">PRIMERA ENTRADA</th>
                      <th class="table-header">PRIMERA SALIDA</th>
                      <th class="table-header">SEGUNDA ENTRADA</th>
                      <th class="table-header">SEGUNDA SALIDA</th>
                      <th class="table-header">MINUTOS RETRAZADO</th>
                      <th class="table-header">MINUTOS EXTRA</th>
                      <th class="table-header">FALTAS</th>
                      <th class="table-header">TOTAL HORAS RETRASADAS</th>
                      <th class="table-header">HORAS NO RECUPERADAS</th>
                      <th class="table-header" *ngIf="rutaRol === 'admin'">MODIFICAR</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let asistencia of asistenciasUser">
                      <td>{{ asistencia.fecha }}</td>
                      <td>{{ asistencia.usuario.ci }}</td>
                      <td>{{ asistencia.usuario.nombre }}</td>
                      <td>{{ asistencia.usuario.apellido_paterno }} {{ asistencia.usuario.apellido_materno }}</td>
                      <td>{{ asistencia.tprano_ingreso}}</td>
                      <td>{{ asistencia.tprano_salida }}</td>
                      <td>{{ asistencia.tde_ingreso}}</td>
                      <td>{{ asistencia.tde_salida }}</td>
                      <td>{{ asistencia.min_retardo}}</td>
                      <td>{{ asistencia.min_extra }}</td>
                      <td>{{ asistencia.faltas}}</td>
                      <td>{{ asistencia.total_horas }}</td>
                      <td>{{ asistencia.hrs_no_recuperadas}}</td>
                      <td *ngIf="rutaRol === 'admin'"><button mat-raised-button class="btn btn-warning btn-round"
                          (click)="seleccionarAsistencia(asistencia)">MODIFICAR</button>
                     </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card-body" style=" display: none ;">
            <div class="table-responsive">
              <div class="div-table">
                <div id="table" >
                  <div class="company-info">
                    <h1>PLANILLA DE ASISTENCIA</h1>
                    <div class="bis" *ngIf="asistenciasUser.length > 0">
                      NOMBRE: <span class="label">
                        {{ asistenciasUser[0].usuario.nombre }} {{ asistenciasUser[0].usuario.apellido_paterno }} {{ asistenciasUser[0].usuario.apellido_materno }}
                    </span>
                    </div>
                    <div class="bis">
                      FECHA: <span class="label">{{asistenciasUser[0].fecha}} AL {{asistenciasUser[asistenciasUser.length - 1].fecha}}</span>
                    </div>
                  </div>
                  <br>
                  <br>
                  <table class="tabla">
                    <thead class="text-primary">

                      <tr class="table-row">
                        <th class="table-header">DIAS LABORALES</th>
                        <th class="table-header">PRIMERA ENTRADA</th>
                        <th class="table-header">PRIMERA SALIDA</th>
                        <th class="table-header">SEGUNDA ENTRADA</th>
                        <th class="table-header">SEGUNDA SALIDA</th>
                        <th class="table-header">MINUTOS RETRAZADO</th>
                        <th class="table-header">MINUTOS EXTRA</th>
                        <th class="table-header">FALTAS</th>
                        <th class="table-header">TOTAL HORAS </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr></tr>
                      
                      <tr *ngFor="let asistencia of asistenciasUser">

                        <td >{{ asistencia.fecha }}</td>
                        <td>{{ asistencia.tprano_ingreso}}</td>
                        <td>{{ asistencia.tprano_salida }}</td>
                        <td>{{ asistencia.tde_ingreso}}</td>
                        <td>{{ asistencia.tde_salida }}</td>
                        <td>{{ asistencia.min_retardo}}</td>
                        <td>{{ asistencia.min_extra }}</td>
                        <td>{{ asistencia.faltas}}</td>
                        <td>{{ asistencia.total_horas }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <br>
                  <div class="bis" *ngIf="asistenciasUser.length > 0">

                    HORAS NO RECUPERADAS: <span class="label">
                      {{ asistenciasUser[0].hrs_no_recuperadas }} 
                  </span>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>