<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">PAGO</h4>
                    </div>
                    <div class="card-body">
                        <form #pagoForm="ngForm" (ngSubmit)="registrarNuevoPago(pagoForm)">
                            <div class="row">
                                
                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <label>Seleccione Cedula de  Identidad</label>
                                        <select class="custom-select" name="id_usuario" #idUsuario="ngModel"
                                            [(ngModel)]="nuevoPago.id_usuario">
                                            <option *ngFor="let usuario of users" [value]="usuario.id_usuario" [(ngModel)]="nuevoPago.id_usuario" >{{ usuario.ci}}</option>
                        
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <label for="anticipos">Sueldo</label>
                                        <input matInput class="form-control "  type="text" name="sueldo"
                                            #sueldo="ngModel" [(ngModel)]="nuevoPago.sueldo" pattern="[0-9]+" >
                                    </div>
                                </div>
                                <div class="form-group col-md-6" id="form">
                                    <div class="example-full-width">
                                        <label for="anticipos">Dias de Trabajo</label>
                                        <input matInput class="form-control" type="text" name="trabajo"
                                            #trabajo="ngModel" [(ngModel)]="nuevoPago.dias_trabajado" pattern="[0-9]+">
                                    </div>
                                </div>
                                


                            </div>

                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                [disabled]="!pagoForm.form.valid">REGISTRAR</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title "> REGISTRO PAGO</h4>
                                <form class="col-md-5">
                                    <p class="card-category">Busque el registro de pago</p>
                                    <div class="input-group no-border">
                                        <div class="col-md-10">
                                            <input type="text" [(ngModel)]="ciBusqueda" class="form-control"
                                                placeholder="Buscar por cedula de identidad...">
                                            <div class="ripple-container"></div>
                                        </div>
                                    </div>
                                    <button mat-raised-button type="button" class="btn btn-white btn-round "
                                        (click)="buscarAnticipoPorCi(ciBusqueda)">Buscar</button>
                                </form>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>CI</th>
                                                <th>SUELDO</th>
                                                <th>DIAS TRABAJADOS</th>
                                                <th>RETENCION</th>
                                                <th>SUELDO BRUTO</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                            <tr *ngFor="let pagos of pagoUser">
                                                <td>{{ pagos.usuario.ci}}</td>
                                                <td>{{ pagos.sueldo }}</td>
                                                <td>{{ pagos.dias_trabajado }}</td>
                                                <td>{{ pagos.retencion }}</td>
                                                <td>{{ pagos.sueldo_bruto }}</td>
                                                <td><button mat-raised-button type="submit"
                                                        class="btn btn-blue btn-round "
                                                        (click)="editarPago(pagos)">Modificar</button>
                                                        <button mat-raised-button type="submit"
                                                    class="btn btn-round elim" mat-icon-button type="button"
                                                    (click)="cambiarEstadoPago(pagos.id_sueldo, pagos.estado)"><img src="../../../../assets/img/icons8-cancelar-48.png" alt=""></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>