<!--antipo.html-->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">ANTICIPOS</h4>
                    </div>
                    <div class="card-body">
                        <form #anticipoForm="ngForm" (ngSubmit)="registrarNuevoAnticipo(anticipoForm)">
                            
                                <div class="row">
                                    <div class="form-group col-md-6" id="form">
                                        <div class="example-full-width">
                                            <input class="form-control" placeholder="ci" type="text" name="ci"
                                                #ci="ngModel" [(ngModel)]="nuevoAnticipo.id_usuario "
                                                placeholder="Cedula de Identidad" ngModel>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6" id="form">
                                        <div class="example-full-width">
                                            <input class="form-control" placeholder="Anticipo" type="text"
                                                name="anticipo" #anticipo="ngModel"
                                                [(ngModel)]="nuevoAnticipo.anticipos" ngModel="">
                                        </div>
                                    </div>
                                </div>
                                <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                    [disabled]="!anticipoForm.form.valid">REGISTRAR</button>
                                <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title "> REGISTRO ANTICIPOS</h4>
                                <form class="col-md-5">
                                    <p class="card-category">Busque el registro de anticipo</p>
                                    <div class="input-group no-border">
                                        <div class="col-md-10">
                                            <input type="text" [(ngModel)]="ciBusqueda" class="form-control"
                                                placeholder="Buscar por cedula de identidad...">
                                            <div class="ripple-container"></div>
                                        </div>
                                    </div>
                                    <button mat-raised-button type="button" class="btn btn-white btn-round "
                                        (click)="buscarAnticipoPorCi(ciBusqueda)">Buscar</button>
                                </form>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <tr>

                                                <th>
                                                    CEDULA DE IDENTIDAD
                                                </th>
                                                <th>
                                                    ANTICIPO
                                                </th>
                                                <th>
                                                    ESTADO
                                                </th>
                                                <th>
                                                    FECHA CREACION
                                                </th>
                                                <th>
                                                    FECHA MODIFICACION
                                                </th>
                                                <th>
                                                    MODIFICAR
                                                </th>
                                                <th>
                                                    ELIMINAR
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let anticipo of info">
                                                <td>{{ anticipo.id_usuario }}</td>
                                                <td>{{ anticipo.anticipo}}</td>
                                                <td>{{ anticipo.estado }}</td>
                                                <td>{{ anticipo.fecha_creacion}}</td>
                                                <td>{{ anticipo.fecha_modificacion}}</td>
                                                <td><button mat-raised-button type="submit"
                                                        class="btn btn-blue btn-round "
                                                        (click)="editarAnticipo(anticipo)">Modificar</button></td>
                                                <td><button mat-raised-button type="submit"
                                                        class="btn btn-white btn-round"
                                                        (click)="cambiarEstadoAnticipo(1,'n')">Eliminar</button></td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>